body {
	background-color: red;
}
h2 {
	 text-align: center;
	}
	h4{
		text-align: right;
	}
/*p {
	text-align: right;
}*/
button
		{
			text-align: right;
		}
		h1
		{
			text-align: center;
			background-color: yellow;
			width: 1500;
			height: 1500;
		}
